@import '../../scss/variables';
.card-container {
  width: 100%;
  height: 505px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: -1;

  &-img {
    width: 40%;
    height: 40%;
    position: relative;
    z-index: 1;
    object-fit: contain;
  }
  &-p {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 0.4rem;
  }
  &-div {
    list-style-type: none;
    margin: 0.4rem;
    background-color: $cardsBgColor;
    border-radius: 0.7rem;
    width: 9.5rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover .card-container-img {
      transform: scale(1.5);
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      transition: 0.3s ease-in-out;
    }
  }
}
