@import './scss/reset';
@import './scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, $darkerYellow, $lightYellow);
  font-family: 'Poppins', sans-serif;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > * {
    margin-top: 20px;
  }
  .react-img {
    width: 200px;
  }

  .container-cards-div {
    &-h2 {
      color: white;
      text-align: center;
      margin-top: 10px;
    }
  }

  &-cards-div {
    border-radius: 10px;
    width: 350px;
    height: 550px;
    background-color: $orange;
  }
  .blue-div {
    width: 350px;
    height: 100px;
    background-color: $blueLine;
    position: absolute;
    transform: skewY(45deg) translateY(75px);
  }
}
